@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Light.ttf");
    font-display: swap;
    font-weight: 300; 
}
@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.ttf");
    font-display: swap;
    font-weight: 400; 
}
@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Medium.ttf");
    font-display: swap;
    font-weight: 500; 
}
@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Bold.ttf");
    font-display: swap;
    font-weight: 700; 
}
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-Regular.ttf");
    font-display: swap;
    font-weight: 400; 
}
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-SemiBold.ttf");
    font-display: swap;
    font-weight: 600; 
}
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-Bold.ttf");
    font-display: swap;
    font-weight: 700; 
}


/*----------
Common Style 
----------*/

html {
    scroll-behavior: smooth; 
}

body {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
  
::-webkit-scrollbar {
    width: 5px; }
  
::-moz-scrollbar {
    width: 5px; }
  
::-ms-scrollbar {
    width: 5px; }
  
::-webkit-scrollbar-thumb {
    background: #64616E; }
  
::-moz-scrollbar-thumb {
    background: #64616E; }
  
::-ms-scrollbar-thumb {
    background: #64616E; 
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0; 
}
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
    color: inherit; 
}
h1{
    font-size: 30px;
    line-height: 35px;
    color: #05897b;
    font-family: 'Open Sans';
    font-weight: 700;
    margin: 0;
}
h2{
    font-size: 25px;
    line-height: 30px;
    color: #05897b;
    font-family: 'Open Sans';
    font-weight: 700;
    margin: 0;
}
p{
    font-size: 16px;
    line-height: 30px;
    color: #363738;
    font-family: 'Open Sans';
    font-weight: 400;
    text-align: justify;
    text-justify: inter-word;
}
a{
    text-decoration: none;
}
a:hover{
    color: inherit;
}
ul{
    list-style-type: none;
}
.under-line{
    position: relative;
}
.under-line:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80px;
    height: 5px;
    background-color: #05897b;
    border-radius: 5px;
}

/*--------------
Index-page-Style 
--------------*/

.top-section-bar{
    background-color: #f8f8f8;
    padding: 10px 0px;
}
.top-section-bar .top-sec-inner .info-holder i{
    color: #05897b;
}
.top-section-bar .top-sec-inner .info-holder i,a{
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    font-weight: 400;
}
.top-section-bar .top-sec-inner .info-holder .email-wrap{
    border-right: 1px solid #ddd;
}
.top-section-bar .top-sec-inner .social-media-holder a{
    font-size: 20px;
    line-height: 25px;
    color: #05897b;
}

header{
    background-color: #fff;
    padding: 10px 0px;
}
header .navbar .logo-holder .navbar-brand{
    flex: 0 0 70px;
    width: 70px;
    padding: 0;
}
header .navbar .logo-holder .navbar-brand img{
    width: 100%;
}
header .navbar .government-logo{
    flex: 0 0 70px;
    width: 70px;
}
header .navbar .government-logo img{
    width: 100%;
}
header .navbar .thirukural-section span.thirukural{
    font-size: 15px;
    color: #05897b;
    font-weight: 700;
}
header .navbar .thirukural-section .thiruvalluvar-img{
    flex: 0 0 70px;
    width: 70px;
}
header .navbar .thirukural-section .thiruvalluvar-img img{
    flex: 0 0 70px;
    width: 70px;
}
header .navbar .logo-holder .college-name{
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #05897b;
}
header .navbar .logo-holder .college-name .address{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #05897b;
}
header .navbar .bottom-nav-section{
    background-color:#05897b ;
} 
header .navbar .navbar-collapse .navbar-nav .nav-item{
    padding: 10px 15px;
    position: relative;
}
header .navbar .navbar-collapse .navbar-nav .nav-item:last-child{
    padding-right: 0px;
}
header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link{
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 500;
    position: relative;
    transition: 0.3s;
    padding: 0;
}
header .navbar .navbar-collapse .navbar-nav .nav-item:last-child .nav-link{
    padding-right: 0;
}
header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transform: translateX(-50%) scaleX(0);
    transition: 0.3s;
}
header .navbar .navbar-collapse .navbar-nav .nav-item:hover .nav-link:after{
    transform: translateX(-50%) scaleX(1);
    transition: 0.3s;
}
header .navbar .navbar-collapse .navbar-nav .nav-item .sub-menu{
    background-color: #05897b;
    position: absolute;
    width: 100%;
    min-width: 220px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    padding: 5px 0px;
    z-index: 10;
    border-radius: 0 0 10px 10px;
    /* top: 50px; */
}
header .navbar .navbar-collapse .navbar-nav .nav-item:hover .sub-menu{
    display: block;
}
header .navbar .navbar-collapse .navbar-nav .nav-item .sub-menu li a{
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    font-weight: 400;
    padding: 7px 15px;
    display: block;
}
header .navbar .navbar-collapse .navbar-nav .nav-item .sub-menu li:hover a{
    background-color: #fff;
    color: #05897b;
}
header .navbar .navbar-toggler{
    padding: 0;
    border: 0;
    box-shadow: none;
    outline: 0;
}
header .navbar .navbar-toggler .navbar-toggler-line{
    width: 35px;
    height: 4px;
    border-radius: 5px;
    background-color: #05897b;
    display: block;
    transition: 0.4s;
}
header .navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-line:nth-child(1){
    transform: rotate(45deg) translate(0px, 0px);
    transition: 0.4s;
}
header .navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-line:nth-child(2){
    display: none;
}
header .navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-line:nth-child(3){
    transform: rotate(-45deg) translate(6px, -6px);
    transition: 0.4s;
}
header .navbar .navbar-toggler.active{
    position: fixed;
    top: 30px;
    right: 12px;
    z-index: 100;
}
header .navbar .navbar-toggler.active .navbar-toggler-line{
    background-color: #ffffff;
} 

body.mobile-nav-activated header .navbar .navbar-collapse{
    height: calc(100vh - 50px);
    top: 0;
    right: 0;
    position: fixed;
    width: calc(100% - 40px);
    z-index: 99;
    background: #05897b;
    border-radius: 25px 0 0 25px;
    transition: 0.4s;
    box-shadow: 0 5px 35px #70707026;
} 
body.mobile-nav-activated header .navbar .navbar-collapse .navbar-nav{
    padding-top: 50px;
    padding-left: 20px;
}

/* Announcement-section */
.announcement-section{
    background-color: #05897b;
    padding: 6px 0px;
}
.announcement-section span{
    color: #fff;
    font-weight: 700;
}

/* Carousel -section */

.image-slider .carousel{
    height: 600px;
}
.image-slider .carousel .carousel-inner{
    height: 100%;
}
.image-slider .carousel .carousel-control-prev , .image-slider .carousel .carousel-control-next{
    opacity: 1;
}
.image-slider .carousel .carousel-control-prev .carousel-control-prev-icon , .image-slider .carousel .carousel-control-next .carousel-control-next-icon{
    background-color: #05897b;
    opacity: 100%;
    border-radius: 50%;
    background-size: 20px;
    background-position: center;
} 
.image-slider .carousel .carousel-indicators{
    bottom: -70px;
}
.image-slider .carousel .carousel-indicators button{
    height: 8px;
    background-color: #05897b;
}

.update-wrap{
    border: 1px solid #05897b;
    border-radius: 15px;
    height: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.update-wrap .title-section{
    background-color: #05897b;
    padding: 10px 16px;
    border-radius: 15px 15px 0 0 ;
}
.update-wrap .title-section span{
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: italic;
}
.update-wrap .details{
    padding: 10px 16px;
}
.update-wrap .details ul li{
    position: relative;
    padding-left: 30px;
    margin-bottom: 16px;
}
.update-wrap .details ul li:before{
    content: "\ea68";
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'remixicon' !important;
    color: #05897b;
    font-size: 18px;

}
.update-wrap .details ul li span{
    font-size: 16px;
    line-height: 22px;
    color: #363738;
    font-family: 'Open Sans';
    font-weight: 400;
    display: block;
}
.update-wrap .details ul li span a{
    color: #004692;
    font-weight: 700;
    font-family: 'Open Sans';
}
.update-wrap .details ul li span a:hover{
    text-decoration: underline;
}

/* count-wrap */
.count-wrap{
    background-image: url('../images/count-back.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    height: 450px;
    padding: 15px 0;
    position: relative;
}
.count-wrap:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(2, 45, 41, 0.85);
}
.count-wrap .counter-row .counter-col span{
    font-size: 30px;
    line-height: 35px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #fff;
}
.count-wrap .counter-row .counter-col span i{
    font-size: 50px;
}

/* Footer */
footer .footer-wrap{
    background-color: #05897b;
    padding: 15px 0px;
}
footer .footer-wrap .copy-wright{
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    font-family: 'Open Sans';
}

/* Slider-Section */
.banner-slider-container .slider-item{
    height: 500px !important;
    padding: 0 10px;
}
.banner-slider-container .slider-item img{
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    object-position: center;
}
.banner-slider-container .slick-prev , .banner-slider-container .slick-next{
    border: 0;
    outline: 0;
    background-color: #fff;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    display: block;
    z-index: 10;
}
.banner-slider-container .slick-next{
    right: 0px;
}
.banner-slider-container .slick-prev{
    left: 0px;
}
.banner-slider-container .slick-prev:before { 
    content: "\ea64";
    font-family: "remixicon" !important;
    color: #05897b !important;
    line-height: 1;
    opacity: 1;
    font-size: 40px; 
}
.banner-slider-container .slick-next:before { 
    content: "\ea6e";
    font-family: "remixicon" !important;
    color: #05897b !important;
    line-height: 1;
    opacity: 1;
    font-size: 40px; 
}
  
  